<span class="border-top-0 clickable-item" onClick={{action "openModal"}}>
  <div class="click-item">
    <p class="item-title">{{item.title}}</p>
      {{modal-component item=item listId=listId deleteItem=(action deleteItem) modalOpen=modalOpen}}
  </div>
</span>
