<span class="border-top-0" onClick={{action "openModal"}}>
  <div class="click-item">
    <p>{{item.title}}</p>
      {{modal-component item=item listId=listId deleteItem=(action deleteItem) modalOpen=modalOpen}}
  </div>
</span>
