<form {{action "sendDataToController" actionable="actionable" on="submit"}}>
  {{input value=text placeholder=placeholder}}
</form>

{{!input value=text enter="sendDataToController" placeholder="Name Your New List"}}
