{{#if add}}
  <form {{action "sendDataToController" on="submit"}}>
    {{input value=text placeholder=placeholder listId="listId" itemId="itemId"}}
  </form>
{{else}}
  <form>
    {{input value=text placeholder=placeholder listId="listId" itemId="itemId" class="modal-form"}}
  </form>
{{/if}}
