{{#each items as |item|}}
  <div class="col-md-12">
    <div class="panel panel-default text-center">
      <span class="border-top-0">
        <p onClick={{action "openModal"}}>{{item.title}}</p>
        {{modal-component modalOpen=modalOpen}}
      </span>
    </div>
  </div>
{{/each}}
