{{#if modalOpen}}
  {{#modal-dialog onClose="closeModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <div class="modal-header">
      {{form-component text=item.title listId=listId itemId=item.id}}
    </div>
    <div class="modal-body">
      {{form-component text=item.description listId=listId itemId=item.id}}
    </div>
    <div class="modal-footer">
      <button class="btn-danger deleteBtn" name="delete" {{action 'confirmDelete'}}>Delete</button>
      <button class="btn-success" name="close" {{action 'closeModal'}}>Close</button>
    </div>
  {{/modal-dialog}}
{{/if}}
