{{#if modalOpen}}
  {{#modal-dialog onClose="closeModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <div class="modal-header">
      <h1>{{item.title}}</h1>
    </div>
    <div class="modal-body">
      <h1>{{item.description}}</h1>
    </div>
  {{/modal-dialog}}
{{/if}}
