{{#if modalOpen}}
  {{#modal-dialog onClose="closeModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <div class="modal-header">
      <h1>{{item.title}}</h1>
      {{form-component placeholder=item.title listId=listId itemId=item.id editItem=(action editItem)}}
    </div>
    <div class="modal-body">
      <h1>{{item.description}}</h1>
      {{form-component placeholder=item.description listId=listId itemId=item.id editItem=(action editItem)}}
    </div>
  {{/modal-dialog}}
{{/if}}
