<h2>{{title}}</h2>

{{list-item items=items}}

<form {{action "sendDataToController" listId item on="submit"}}>
  {{input value=item placeholder="Add New Item to List"}}
</form>

{{!link-component newItem="newItem" linkText="Add An Item" form="true"}}
