<h2>{{title}}</h2>

{{#each items as |item|}}
  <p>{{item}}</p>
{{/each}}

{{input value=item placeholder="Add New Item to List"}}
<input type="submit" id ="add-button" value="Add Item" {{action "sendDataToController" listId item}}/>
