<h2 class="list-title">{{title}}</h2>
{{list-item items=items listId=listId deleteItem=(action deleteItem)}}
{{link-component linkText="Add An Item" newItem=(action newItem) item="true" listId=listId}}
