<div class="container" id="full-app">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default text-center">
        <span class="border-top-0">
          <h1>Stacey's Tiny Trello</h1>
        </span>
      </div>
      {{outlet}}
    </div>
  </div>
</div>
