<div class="col-md-3">
  <div class="panel panel-default text-center">
    <span class="border-top-0">
      {{#each model as |list|}}
        {{user-list title=list.title}}
      {{/each}}
    </span>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-default text-center">
    <span class="border-top-0">
      {{input value=text enter="newList" placeholder="Add New List"}}
    </span>
  </div>
</div>
