{{#each model as |list|}}
  <div class="col-md-3">
    <div class="panel panel-default text-center">
      <span class="border-top-0">
        {{user-list title=list.title items=list.items listId=list.id newItem=(action "newItem") editItem=(action "editItem")}}
      </span>
    </div>
  </div>
{{/each}}
{{link-component newItem="newItem" linkText="Add A List" newList=(action "newList")}}
