{{#each model as |list|}}
  <div class="col-md-3 user-list text-center">
      <span class="border-top-0">
        {{user-list title=list.title items=list.items listId=list.id newItem=(action "newItem") deleteItem=(action "deleteItem")}}
      </span>
  </div>
{{/each}}
{{link-component newItem="newItem" linkText="Add A List" newList=(action "newList")}}
